<img class="product_image" src="{{product.image}}" />
<h5 style="color: whitesmoke">{{product.name}}</h5>
<p>{{product.price}}</p>
<button *ngIf="!isAdmin"  style="margin: 4px;" class="btn btn-danger" [routerLink]="['/products',product._id]" >More</button>
<button style="margin: 4px;" class="btn btn-success" (click)="this.productService.addToCart(product)">Add to cart</button>
<button *ngIf="isAdmin"  style="margin: 4px;" class="btn btn-info" [routerLink]="['edit-product', product._id]" >Edit</button>
<button *ngIf="isAdmin"  style="margin: 4px;" class="btn btn-warning" (click)="removeProduct(product._id)">Remove</button>
<hr />
